<%- include('./inc/head') %>
    <body class="has-navbar-fixed-top">
        <header>
            <nav id="navTopMain" class="navbar is-fixed-top is-black is-spaced" role="navigation" aria-label="main navigation">
                <%- include('./inc/nav') %>
            </nav>
        </header>
        <div id="navBot" class="navbar is-fixed-bottom is-black is-spaced is-hidden-mobile">
            <%- include('./inc/songbar') %>
        </div>
        <section id="main" class="hero is-primary is-fullheight">
            <div class="container" style="padding:3rem; width:100%;">
                <br>
                <div class="content">
                    <h1 class="title">Commands</h1>
                </div>
                <div class="columns is-multiline">
                    <% for(let cmd of cmds) { %>
                        <div class="column is-one-fifth-fullhd is-3-widescreen is-4-desktop is-6-tablet">
                            <div class="card">
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-4"><%= cmd.name %></p>
                                            <p class="subtitle is-6"><%= cmd.desc %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </section>
<%- include('./inc/foot') %>