<%- include('./inc/head') %>
    <body class="has-navbar-fixed-top">
        <header>
            <nav id="navTopMain" class="navbar is-fixed-top is-black is-spaced" role="navigation" aria-label="main navigation">
                <%- include('./inc/nav') %>
            </nav>
        </header>
        <div id="navBot" class="navbar is-fixed-bottom is-black is-spaced is-hidden-mobile">
            <%- include('./inc/songbar') %>
        </div>
        <section id="main" class="hero is-primary is-fullheight">
            <div class="container" style="padding:3rem; width:100%;">
                <br>
                <div class="content">
                    <h1 class="title">Team</h1>
                </div>
                <div class="columns is-multiline">
                    <div class="column is-one-fifth-fullhd is-3-widescreen is-4-desktop is-6-tablet">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-square">
                                    <img src="https://cdn.discordapp.com/avatars/81011298891993088/bd8e989faf81129bd9e9b7028bbdb56d.webp?size=256" style="object-fit:cover;" alt="Album Art">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Freya</p>
                                        <p class="subtitle is-6">
                                            <span style="color: rgb(23, 191, 224)">
                                                Owner, Creator
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% for(let user of data.owner) { %>
                        <% if(user.id != "112615849566744576") { %>
                            <div class="column is-one-fifth-fullhd is-3-widescreen is-4-desktop is-6-tablet">
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-square">
                                            <img src="<%= user.avatar %>" style="object-fit:cover;" alt="Album Art">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-content">
                                                <p class="title is-4"><%= user.username %></p>
                                                <p class="subtitle is-6">
                                                    <span style="color: #<%= user.role.color %>">
                                                        Owner, <%= user.role.name %>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                    <% for(let member of data.admin) { %>
                        <% if(member.id != "112615849566744576") { %>
                            <div class="column is-one-fifth-fullhd is-3-widescreen is-4-desktop is-6-tablet">
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-square">
                                            <img src="<%= member.avatar %>" style="object-fit:cover;" alt="Album Art">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-content">
                                                <p class="title is-4"><%= member.username %></p>
                                                <p class="subtitle is-6">
                                                    <span style="color: #<%= member.role.color %>">
                                                        <%= member.role.name %>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                    <% for(let member of data.mod) { %>
                        <% if(member.id != "112615849566744576") { %>
                            <div class="column is-one-fifth-fullhd is-3-widescreen is-4-desktop is-6-tablet">
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-square">
                                            <img src="<%= member.avatar %>" style="object-fit:cover;" alt="Album Art">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-content">
                                                <p class="title is-4"><%= member.username %></p>
                                                <p class="subtitle is-6">
                                                    <span style="color: #<%= member.role.color %>">
                                                        <%= member.role.name %>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                </div>
                <div class="content">
                    <h3 class="subtitle">Contributors</h3>
                </div>
                <div class="columns is-multiline">
                    <% for(let member of data.con) { %>
                        <% if(member.id != "112615849566744576") { %>
                            <div class="column is-one-fifth-fullhd is-3-widescreen is-4-desktop is-6-tablet">
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-square">
                                            <img src="<%= member.avatar %>" style="object-fit:cover;" alt="Album Art">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-content">
                                                <p class="title is-4"><%= member.username %></p>
                                                <p class="subtitle is-6">
                                                    <span style="color: #<%= member.role.color %>">
                                                        <%= member.role.name %>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            <!--
                <div class="content">
                    <h3 class="subtitle">Contributors</h3>
                </div>
                <div class="columns is-multiline">
                </div>
            -->
            </div>
        </section>
<%- include('./inc/foot') %>